 <h1>Google Cloud Pub/Sub Example</h1>

<!-- <input [(ngModel)]="message" placeholder="Enter message" />
<button (click)="publish()">Publish</button>

<button (click)="pull()">Pull Messages</button>

<h2>Received Messages:</h2>
<ul>
  <li *ngFor="let msg of messages">{{ msg }}</li>
</ul>  -->

<input [(ngModel)]="message" placeholder="Enter message" />
<button (click)="publish()">Publish</button>
<button (click)="pull()">Pull</button>

<h2>Received Messages:</h2>
<ul>
  <li *ngFor="let msg of messages">{{ msg }}</li>
</ul> 